<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345457939317-d7vdes82c8vsjb3r5u3925699nje8912.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345457939317-d7vdes82c8vsjb3r5u3925699nje8912</string>
	<key>API_KEY</key>
	<string>AIzaSyBFyfwhaCuNVKkvdlXAfav3SA7d-J8SXiM</string>
	<key>GCM_SENDER_ID</key>
	<string>345457939317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filowatt.backpackchat</string>
	<key>PROJECT_ID</key>
	<string>backpack-chat-73855</string>
	<key>STORAGE_BUCKET</key>
	<string>backpack-chat-73855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345457939317:ios:299573c330a4b5fc5df93c</string>
</dict>
</plist>