<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709848292581-h4a4l7llp22d6mk7s7biisme5e057gg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709848292581-h4a4l7llp22d6mk7s7biisme5e057gg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAyd3SOkTmM5Pp6x6m3geub05MhSD58xys</string>
	<key>GCM_SENDER_ID</key>
	<string>709848292581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filowatt.edsvbar</string>
	<key>PROJECT_ID</key>
	<string>ed-s-virtual-bar</string>
	<key>STORAGE_BUCKET</key>
	<string>ed-s-virtual-bar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709848292581:ios:0f7b86615977ac026d880c</string>
	<key>DATABASE_URL</key>
	<string>https://ed-s-virtual-bar.firebaseio.com</string>
</dict>
</plist>